/* MOBILE RESPONSIVENESS MOBILE PORTRAIT 2 START */

@media screen and (max-width: 320px) { 
 .grid-content {
  display: grid;
       grid-template-columns: 1fr;
  height: 100%;
  padding: 10px;
  row-gap: 5px;
  column-gap: 10px;
/*     border: 10px solid magenta; */
}
    
  .content {
  display: grid;
    max-height: 350px;
  column-gap: 10px;
       justify-content: center;
  align-items: center;
/*     border: 10px solid green; */
}


/* START CAROUSEL */
.arrows {
    display: flex;
   flex-direction: row;
  justify-content: space-around;
  background-color: white;
/*        border: 1px solid blue; */
}

.image {
    max-width: 100%;
      height: 320px;
   border-radius: 8px;
    object-fit: contain;
/*   border: 5px solid pink; */
}

/* Next & previous buttons */
.prev-image,
.next-image {
  cursor: pointer;
    position: relative;
  width: auto;
  margin-top: -22px;
  padding: 16px;
    color: brown;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  user-select: none;
    border-radius: 25px;
         border: 5px solid tan;
/*          border: 5px solid green; */
}
  }

/* MOBILE RESPONSIVENESS MOBILE PORTRAIT 2 END */

/* MOBILE RESPONSIVENESS MOBILE LANDSCAPE */
@media screen and (min-width: 321px) and (max-width: 480px) {
   
  .grid-content {
  display: grid;
       grid-template-columns: 1fr;
  height: 100%;
  padding: 10px;
  row-gap: 5px;
  column-gap: 10px;
    border: 10px solid yellow;
}
    
  .content {
  display: grid;
    max-height: 400px;
  column-gap: 10px;
       justify-content: center;
  align-items: center;
/*     border: 10px solid green; */
}
  
/* START CAROUSEL */
.arrows {
    display: flex;
   flex-direction: row;
  justify-content: space-around;
  background-color: white;
       border: 1px solid blue;
}

.image {
    max-width: 100%;
      height: 300px;
   border-radius: 8px;
    object-fit: contain;
/*   border: 5px solid pink; */
}

/* Next & previous buttons */
.prev-image,
.next-image {
  cursor: pointer;
    position: relative;
  width: auto;
  margin-top: -22px;
  padding: 16px;
    color: brown;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;

  user-select: none;
    border-radius: 25px;
         border: 5px solid tan;
/*          border: 5px solid green; */
}
  }
/* MEDIA QUERIES MOBILE LANDSCAPE FINISH
 */

/* MOBILE RESPONSIVENESS TABLET PORTRAIT */
@media screen and (min-width: 481px) and (max-width: 760px) {
.grid-content {
  display: grid;
       grid-template-columns: 1fr;
  height: auto;
  padding: 10px;
  row-gap: 5px;
  column-gap: 10px;
    border: 10px solid green;
}
    
  .content {
  display: grid;
    max-height: 500px;
  column-gap: 10px;
/*   border-style: solid; */
/*   border-bottom: 5px; */
/*   border-color: #c0c0c0; */
/*   border-left: none; */
/*   border-right: none; */
       justify-content: center;
  align-items: center;
/*     border: 10px solid green; */
}
  


/* START CAROUSEL */
.arrows {
    display: flex;
   flex-direction: row;
  justify-content: space-around;
  background-color: white;
/*        border: 1px solid blue; */
}

.image {
max-width: 100%;
   max-height: 500px;
   border-radius: 8px;
  object-fit: contain;
/*   border: 5px solid pink; */
}

/* Next & previous buttons */
.prev-image,
.next-image {
  cursor: pointer;
    position: relative;
  width: auto;
  margin-top: -22px;
  padding: 16px;
    color: brown;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;

  user-select: none;
    border-radius: 25px;
         border: 5px solid tan;
/*          border: 5px solid green; */
}
  }
/* MEDIA QUERIES TABLET PORTRAIT FINISH
 */

/* MEDIA QUERIES TABLET LANDSCAPE */
@media screen and (min-width: 761px) and (max-width: 990px) {
 .grid-content {
  display: grid;

       grid-template-columns: 1fr;
  height: auto;
  padding: 10px;
  row-gap: 5px;
  column-gap: 10px;
    border: 10px solid orange;
}
    
  .content {
  display: grid;
    max-height: 750px;
  column-gap: 10px;
       justify-content: center;
  align-items: center;
/*     border: 10px solid green; */
}
  
/* START CAROUSEL */
.arrows {
    display: flex;
   flex-direction: row;
    justify-content: space-around;
  background-color: white;
/*        border: 2px solid magenta; */
}

.image {
/*   width: 800px; */
/*     width: 100%;
  height: 800px; */
    width: 100%;
  height: 820px;
   border-radius: 8px;
  object-fit: contain;
/*   border: 5px solid pink; */
}

/* Next & previous buttons */
.prev-image,
.next-image {
  cursor: pointer;
    position: relative;
  
  width: auto;
  margin-top: -22px;
  padding: 16px;
    color: #A65E2E;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;

  user-select: none;
  border-radius: 25px;
         border: 5px solid tan;
}
  }
/* MEDIA QUERIES TABLET LANDSCAPE FINISH
 */


/* MOBILE RESPONSIVENESS MEDIUM DEVICE */
@media screen and (min-width: 991px) and (max-width: 1024px) {

/* START CAROUSEL */
.arrows {
    display: flex;
   flex-direction: row;
  justify-content: space-around;
  background-color: white;
       border: 1px solid blue;
}

.image {
/*   width: 800px; */
/*     width: 100%;
  height: 800px; */
      width: auto;
  height: 100%;
   border-radius: 8px;
  object-fit: contain;
  border: 5px solid pink;
}

/* Next & previous buttons */
.prev-image,
.next-image {
  cursor: pointer;
    position: relative;
  width: auto;
  margin-top: -22px;
  padding: 16px;
    color: brown;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;

         border: 5px solid tan;
    
}
  }
/* MEDIA QUERIES MEDIUM DEVICE FINISH
 */

/* MOBILE RESPONSIVENESS LARGE DEVICE */
@media screen and (min-width: 991px) and (max-width: 1024px) {


/* START CAROUSEL */
.arrows {
    display: flex;
   flex-direction: row;
  justify-content: space-around;
  background-color: white;
       border: 1px solid blue;
}

.image {
/*   width: 800px; */
/*     width: 100%;
  height: 800px; */
      width: auto;
  height: 100%;
   border-radius: 8px;
  object-fit: contain;
  border: 5px solid pink;
}

/* Next & previous buttons */
.prev-image,
.next-image {
  cursor: pointer;
    position: relative;
  width: auto;
  margin-top: -22px;
  padding: 16px;
    color: brown;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
         border: 5px solid green;
}
  }
/* MEDIA QUERIES LARGE DEVICE FINISH
 */

/* MOBILE RESPONSIVENESS EXTRA LARGE DEVICE */
@media screen and (min-width: 1025px) and (max-width: 1200px) {


/* START CAROUSEL */
.arrows {
    display: flex;
   flex-direction: row;
  justify-content: space-around;
  background-color: white;
       border: 1px solid blue;
}

.image {
/*   width: 800px; */
/*     width: 100%;
  height: 800px; */
      width: auto;
  height: 100%;
   border-radius: 8px;
  object-fit: contain;
  border: 5px solid pink;
}

/* Next & previous buttons */
.prev-image,
.next-image {
  cursor: pointer;
    position: relative;
  width: auto;
  margin-top: -22px;
  padding: 16px;
    color: brown;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
         border: 5px solid green;
}
  }
/* MEDIA QUERIES EXTRA LARGE DEVICE FINISH
 */

/* MOBILE RESPONSIVENESS EXTRA EXTRA LARGE DEVICE START */
@media screen and (min-width: 1201px) {


/* START CAROUSEL */
.arrows {
    display: flex;
   flex-direction: row;
  justify-content: space-around;
  background-color: white;
       border: 1px solid blue;
}

.image {
/*   width: 800px; */
/*     width: 100%;
  height: 800px; */
      width: auto;
  height: 100%;
   border-radius: 8px;
  object-fit: contain;
  border: 5px solid pink;
}

/* Next & previous buttons */
.prev-image,
.next-image {
  cursor: pointer;
    position: relative;
  width: auto;
  margin-top: -22px;
  padding: 16px;
    color: brown;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
         border: 5px solid green;
}
  }
/* MEDIA QUERIES EXTRA EXTRA LARGE DEVICE FINISH
 */
