.topflexbox {
  display: grid;
  background: #5C81A1;
  height: 120px;
  justify-content: center;
  align-content: center;
}

h1 {
  font-size: 60px;
  color: white;
}

.footer {
  font-size: 14px;
  background-color: #dcdcdc;
  border-top: black;
  padding: 10px;
}

.exercise-grid {
  display: grid; 
/*   grid-template-columns: repeat(3, 1fr); */
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;

/*   column-gap: 20px; */
  padding-left:90px;
  row-gap: 5px;
 background: #E0FFFF;
  align-items: center;
  padding-bottom: 150px;
/* justify-content: space-evenly; */
/*    width: auto; */
/*   border: 10px solid green; */
/* } */
}

.exercise-tile {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
    justify-content: center;
  width: 320px;
  height: max;
  margin: 20px;
  background: white;
    border-radius: 10%;
  border-style: solid;
    border-width: 1px;
  border-color: #D3D3D3;
   box-shadow: 8px 8px #DCDCDC;
}

/* .time {
  text-align: center;
} */


.exercise-box img {
  display: block;
  margin: auto;
  width: 35%;
  height: 35%;
  border-radius: 5%;
/*   border: 2px solid red; */
}

.exercise-name {
  font-size: 30px;
  text-align: center;
/*   padding-left: 15px; */
/*   text-underline-offset: 15px; */
  font-weight: bold;
    color: #483D8B;
}



.time {
  text-align: center;
    font-size: 25px;
     color: #808080;
  
/*   display: block;
  position: absolute;
  z-index: 100;
   font-weight: bold;
color: blue;
  background: white;
  border-radius: 50%;
  padding: 10px;
  left: 30px;
  border: 2px solid brown; */
}

/* .exercise-box img {
  display: block;
  margin: auto;
  width: 80%;
  height: 80%;
  border-radius: 5%;
  border: 2px solid red;
} */


.sneak-peek {
  text-align: center;
  margin: 10px;
}

.hover-box-one {
  display: none;
/*   width: 100%; */
/*   border: 5px solid blue; */
}

a:hover + .hover-box-one,
.hover-box:hover {
  display: block;
  position: absolute;
  z-index: 100;
/*     top: 5px; */
/*   left: 10%; */
  background: white;
}

.hover-box-two {
  display: none;
}

a:hover + .hover-box-two,
.hover-box:hover {
  display: block;
  position: absolute;
  z-index: 100;
/*    bottom: 10px; */
     bottom: 20px;
/*   left: 10%; */
  background: white;
}

  a {
        text-decoration: none;
        /* Removes underline from links */
        color: #483D8B;
      }
